**/node_modules
**/.turbo
**/.svelte-kit
**/.tmp
**/dist
**/build
**/data
**/vite.config.ts.timestamp-*

.github
.vscode
.pnpm-store
.tmp
tmp
*.zip

.env
.env.*
**/.env
**/.env.*
!.env.example
!**/.env.example

data
downloads
output
rec
rec_cache

apps/kitchen/cook/*.exe
apps/kitchen/cook/*.macosx
apps/kitchen/cook/*.png
apps/kitchen/cook/extnotes
apps/kitchen/cook/oggcorrect
apps/kitchen/cook/oggduration
apps/kitchen/cook/oggmultiplexer
apps/kitchen/cook/oggstender
apps/kitchen/cook/oggtracks
apps/kitchen/cook/wavduration
apps/ennuizel-streamer/cook/extnotes
apps/ennuizel-streamer/cook/oggcorrect
