# This will propogate to all apps, which is fine if you are running it straight off of the monorepo
# If these are empty, they will default to the project folder with a "rec" and "output" folder
# These folders MUST be created or else the service may not work
REC_DIRECTORY=
OUTPUT_DIRECTORY=
DOWNLOADS_DIRECTORY=
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

# Task scheduler
# PATREON_REFRESH_CRON="0 * * * *"
# RECORDING_CLEAN_CRON="*/30 * * * *"
# TASKS_TIMEZONE=America/New_York
# TASKS_IGNORE=
# PATREON_CAMPAIGN_ID=
# PATREON_CLIENT_ID=
# PATREON_CLIENT_SECRET=
# PATREON_TIER_MAP={"00001":2,"0002":3}
# PATREON_CREDENTIALS_FILE=
# RECORDING_FALLBACK_EXPIRATION=24h
# RECORDING_SKIP_IDS=
# RECORDING_SKIP_ALL=false
