# dependencies
node_modules/

# development
.next/
.vscode/*
!.vscode/launch.json
!.vscode/extensions.json
.idea/
node_modules/
.vercel/
.turbo/
.pnpm-store/
.tmp/
.docker/
*.zip

# production
data/
/downloads/
/rec/
/rec_cache/
/output/
dist/
build/
/rec

# misc
.DS_Store
*.pem
*.swp

# Database
*.db
*.db-shm
*.db-wal

# Logs
*.log
node-log.txt
nohup.out

# ENV files
.env
.env.*
!.env.example
