.vscode/
.idea/
node_modules/
rec/
config.json
cook/extnotes
cook/oggcorrect
cook/oggduration
cook/oggmultiplexer
cook/oggstender
cook/oggtracks
cook/wavduration
cook/*.png
*.swp
*.db
*.db-shm
*.db-wal
*.log