# dependencies
node_modules/

# development
.next/
.vscode/
.idea/
node_modules/
.vercel

# production
data/
rec/
dist/
build/

# misc
.DS_Store
*.pem
*.swp

# Cook
cook/extnotes
cook/oggcorrect
cook/oggduration
cook/oggmultiplexer
cook/oggstender
cook/oggtracks
cook/wavduration
cook/*.png
cook/*.exe
cook/*.macosx
apps/download/downloads/

# Database
*.rdb
*.db
*.db-shm
*.db-wal

# Logs
*.log
node-log.txt
nohup.out

# ENV files and Config
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
config.json
.patreon-credentials.json
install.config

