###################################################
# Discord bot
###################################################

DISCORD_BOT_TOKEN=
DISCORD_APP_ID=
CLIENT_ID=
CLIENT_SECRET=
DEVELOPMENT_GUILD_ID=

##################################################
# Dashboard app environment
##################################################

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_DRIVE_FOLDER_PATH=Folder/recordings
MICROSOFT_CLIENT_ID=test
MICROSOFT_CLIENT_SECRET=test
DROPBOX_CLIENT_ID=test
DROPBOX_CLIENT_SECRET=test
APP_URI=https://craigboard.home.arpa
JWT_SECRET=change-me-generate-a-long-random-value

##################################################
# Download app environment
##################################################

API_PORT=5029
API_HOST=0.0.0.0
API_HOMEPAGE=https://craig.home.arpa
ENNUIZEL_BASE=https://ez.craig.horse/
TRUST_PROXY=
SENTRY_DSN=
SENTRY_HOST=
SENTRY_SAMPLE_RATE=1.0
SENTRY_DSN_API=
SENTRY_ENV=
SENTRY_SAMPLE_RATE_API=1.0
INFLUX_URL=
INFLUX_TOKEN=
INFLUX_ORG=
INFLUX_BUCKET=
SERVER_NAME=dev
REDIS_HOST=redis
REDIS_PORT=6379
RECORDING_RETENTION_DAYS=3
RECORDING_LOCAL_FLAC_ENABLED=false

##################################################
# TASMAS transcription sidecar
##################################################

CRAIG_RECORDINGS_DIR=/mnt/media8tb/craig-recordings
TASMAS_OUTPUT_DIR=/mnt/media8tb/craig-recordings/tasmas
TASMAS_IMAGE=kaddaok/tasmas:latest
TASMAS_GPU_ARGS="--gpus all"
TASMAS_MODEL_CACHE_DIR=/mnt/media8tb/craig-recordings/tasmas-model-cache
TASMAS_EXTRA_ARGS=
OLLAMA_MODEL=
OLLAMA_URL=http://host.docker.internal:11434/api/generate
TASMAS_WATCH_INTERVAL=10
TASMAS_SETTLE_SECONDS=5

##################################################
# Other
##################################################

NODE_VERSION="22"
DATABASE_NAME="craig"
POSTGRESQL_USER="craig"
POSTGRESQL_PASSWORD="change-me"
POSTGRES_DB="craig"
POSTGRES_USER="craig"
POSTGRES_PASSWORD="change-me"
POSTGRESQL_START_TIMEOUT_S=10
REDIS_START_TIMEOUT_S=10
DATABASE_URL=postgresql://$POSTGRESQL_USER:$POSTGRESQL_PASSWORD@db:5432/$DATABASE_NAME?schema=public
