HOST=127.0.0.1
PORT=9100
ORIGIN=https://my.site

KITCHEN_URL=http://127.0.0.1:9000
PUBLIC_ENNUIZEL_URL=https://ez.craig.horse
PUBLIC_ENNUIZEL_API_HOSTNAME=https://craig.horse

PUBLIC_PLAUSIBLE_HOSTNAME=
PUBLIC_HOSTNAME=
PUBLIC_PATREON_URL=CraigRec

# PUBLIC_STATUS_SITE=
