PATREON_REFRESH_CRON="0 * * * *"
RECORDING_CLEAN_CRON="*/30 * * * *"
TASKS_TIMEZONE=America/New_York
# TASKS_IGNORE=refreshPatrons,cleanRecordings

PATREON_CAMPAIGN_ID=
PATREON_CLIENT_ID=
PATREON_CLIENT_SECRET=
PATREON_TIER_MAP={}
# PATREON_CREDENTIALS_FILE=./config/.patreon-credentials.json

# REC_DIRECTORY=
RECORDING_FALLBACK_EXPIRATION=24h
# RECORDING_SKIP_IDS=
# RECORDING_SKIP_ALL=false
