HOST=127.0.0.1
PORT=9200
ORIGIN=https://my.site
PUBLIC_BASE_URL=https://my.site

PUBLIC_PLAUSIBLE_HOSTNAME=
PUBLIC_HOSTNAME=

PUBLIC_DISCORD_CLIENT_ID=123
DISCORD_CLIENT_SECRET=XXX
DISCORD_REDIRECT_URI=http://localhost:57131/api/login
JWT_SECRET=00000000000000000000000000000000

PUBLIC_PATREON_URL=CraigRec
PUBLIC_PATREON_CLIENT_ID=XXX
PATREON_CLIENT_SECRET=XXX
PATREON_TIER_MAP={"00001":2,"0002":3}
PATREON_WEBHOOK_SECRET=

PUBLIC_GOOGLE_CLIENT_ID=XXX
GOOGLE_CLIENT_SECRET=XXX

PUBLIC_MICROSOFT_CLIENT_ID=XXX
MICROSOFT_CLIENT_SECRET=XXX

PUBLIC_DROPBOX_CLIENT_ID=XXX
DROPBOX_CLIENT_SECRET=XXX

PUBLIC_BOX_CLIENT_ID=XXX
BOX_CLIENT_SECRET=XXX
