HOST=127.0.0.1
PORT=9200
ORIGIN=https://my.site
PUBLIC_BASE_URL=https://my.site

PUBLIC_PLAUSIBLE_HOSTNAME=
PUBLIC_HOSTNAME=

PUBLIC_DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://localhost:57131/api/login
JWT_SECRET=

PUBLIC_PATREON_URL=CraigRec
PUBLIC_PATREON_CLIENT_ID=
PATREON_CLIENT_SECRET=
PATREON_TIER_MAP={"00001":2,"0002":3}
PATREON_WEBHOOK_SECRET=

PUBLIC_GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

PUBLIC_MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=

PUBLIC_DROPBOX_CLIENT_ID=
DROPBOX_CLIENT_SECRET=
